*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
    background-color: aliceblue;
}

.main {
    width: 80%;
    height: 100vh;
    margin: auto;
    background-color: white;
}

.hum-container {
    height: 400px;
    width: 400px;
    border: 1px solid black;
    border-collapse: collapse;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
}
.cell {
   border: 1px solid black;
}