* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}

.main {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-color: white;
}

.hum-container {
  height: 400px;
  width: 400px;
  border: 0.5px solid black;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}
.cell {
  border: 0.5px solid black;
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
}

.cell p {
  color: red;
}

.ship-sunk {
  background-color: lightcoral;
}

.ship-hit {
  text-align: center;
}
