* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: aliceblue;
}

.main {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-color: white;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.hum-container {
  display: flex;
  flex-direction: column-reverse;
}

.board {
  height: 400px;
  width: 400px;
  border: 1px solid white;
  background-color: rgb(222, 237, 250);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}


.cell {
  border: 1px solid white;
  width: 40px;
  height: 40px;
  /* display: grid;
  place-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell span {
  color: red;
  
}

.ship,
.ship-hit{
  /* background-color: red; */
  border: none;
  border-radius: 5px;
}

.ship-sunk {
  background-color: rgb(249, 137, 137);
}

.ship-hit {
  text-align: center;
  background-color: rgb(248, 220, 220);
}

.ship-sunk {
  background-color: lightcoral;
}

.miss {
  background-color: rgb(152, 225, 250);
}

.msg-container,
.setup-container {
  background-color: white;
  padding: 30px;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* background-color: lightblue; */
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: none;
}

.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}
