* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

h1{
  text-align: center;
  margin-top: 4rem;
}

/* .main {
  position: relative;
  height: 100vh;
} */

.game-container {
  width: 80%;
  height: 100vh;
  margin: auto;
  background-color: white;
  display: flex;
  gap: 100px;
  justify-content: center;
  align-items: center;
}

.hum-container,
.computer-container
{
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  justify-content: center; 
  position: relative;
}

.board {
  height: 360px;
  width: 360px;
  border: 1px solid white;
  background-color: rgb(222, 237, 250);
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  
}


.cell {
  border: 1px solid white;
  width: 36px;
  height: 36px;
  /* display: grid;
  place-items: center; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.cell span {
  color: red;
  
}

.ship,
.ship-hit{
  /* background-color: red; */
  border: none;
  border-radius: 5px;
}

.ship-sunk {
  background-color: rgb(249, 137, 137);
}

.ship-hit {
  text-align: center;
  background-color: rgb(248, 220, 220);
}

.ship-sunk {
  background-color: lightcoral;
}

.miss {
  background-color: rgb(152, 225, 250);
}

.msg-container,
.setup-container {
  background-color: white;
  padding: 30px;
}

.indicator-container {
  width: 360px;
  text-align: center;
  padding: 15px;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 9999;
  display: none;
}

.visible {
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  background-color: #0288d1;
  color: white;
}
.inactive {
  background-color: #b0bec5;
  color: white;
  opacity: 0.7;
}

.orientation-btn {
  position: absolute;
  top: -40px
}

.toggle-btn {
  width: 360px;
  padding: 8px;
}